[submodule "lib-externes/AboutDialog-Delphi-Component"]
	path = lib-externes/AboutDialog-Delphi-Component
	url = https://github.com/DeveloppeurPascal/AboutDialog-Delphi-Component.git
[submodule "lib-externes/librairies"]
	path = lib-externes/librairies
	url = https://github.com/DeveloppeurPascal/librairies.git
[submodule "lib-externes/Delphi-Game-Engine"]
	path = lib-externes/Delphi-Game-Engine
	url = https://github.com/DeveloppeurPascal/Delphi-Game-Engine.git
[submodule "lib-externes/Audio-Tools-Library"]
	path = lib-externes/Audio-Tools-Library
	url = https://github.com/DeveloppeurPascal/Audio-Tools-Library.git
